*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/firebase
build.gradle
gradle*
/app/google*
/app/build.gradle
/app/proguard-*
